section{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1400px;

    div{
        display: flex;
        flex-direction: column;
        justify-content: center;
        max-width: 1400px;
        height: 300px;
        align-items: center;
        text-align: center;


        i{
           font-size: 78px;
           color: $blue;
        }

        h2{
            margin-top: 10px;
            margin-bottom: 10px;
        }

        p{
            padding-left: 50px;
            padding-right: 50px;
            color: hsl(210deg 2.67% 70.59%);
        }
    }
}